@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500; }

body {
  background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
  font-family: "Poppins" !important;
  color: #f9f9f9; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto; }

header nav {
  height: 80px;
  align-items: center; }
  header nav .navLogo {
    width: 50%; }
  header nav .navMenu {
    width: 50%; }
    header nav .navMenu ul {
      display: flex;
      flex-direction: row;
      justify-content: end; }
      header nav .navMenu ul li {
        margin-left: 25px; }

main .mainTitulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; }
  main .mainTitulo h3 {
    font-size: 1.2em;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 15px; }
  main .mainTitulo h2 {
    font-size: 68px;
    font-weight: 900;
    line-height: 109%; }
  main .mainTitulo p {
    font-size: 16px;
    font-weight: 200;
    line-height: 180%;
    margin: 25px 0 40px 0; }
  main .mainTitulo .mainBtn {
    display: flex; }
    main .mainTitulo .mainBtn .btn {
      display: flex;
      font-weight: 600;
      font-size: 16px;
      font-family: "Poppins";
      margin-right: 20px;
      transform: skew(-30deg); }
      main .mainTitulo .mainBtn .btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; }
      main .mainTitulo .mainBtn .btn .btnAssista {
        background-color: #658E76;
        padding: .5rem 1rem;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #658E76; }
        main .mainTitulo .mainBtn .btn .btnAssista span {
          display: flex;
          align-items: center;
          transform: skew(30deg); }
        main .mainTitulo .mainBtn .btn .btnAssista img {
          margin-right: 5px;
          width: 15px; }
      main .mainTitulo .mainBtn .btn .btnAssista:hover {
        background-color: #ffffff00; }
      main .mainTitulo .mainBtn .btn .btnTrailer {
        background-color: #ffffff00;
        padding: .5rem 1rem;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #658E76; }
        main .mainTitulo .mainBtn .btn .btnTrailer span {
          display: flex;
          align-items: center;
          transform: skew(30deg); }
      main .mainTitulo .mainBtn .btn .btnTrailer:hover {
        background-color: #658E76 !important; }

main .mainImg {
  display: flex;
  align-items: flex-end;
  flex: 1; }
