@font-face {
  font-family: 'Poppins';
  src: url("../font/Poppins/Poppins-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal; }

* {
  font-family: 'Poppins', sans-serif !important; }

h2 {
  color: #161212;
  font-size: 48px;
  line-height: 52px;
  font-weight: 600; }

p {
  color: #161212;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500; }

.btn {
  background-color: #DA2535;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-family: "Poppin";
  font-size: 16px;
  line-height: 24px;
  padding: 10px 25px; }
  .btn img {
    margin-right: 10px; }

.container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px;
  width: 80%; }

header {
  background-color: #F7C7B9; }
  header .headerLogo {
    align-items: center;
    display: flex;
    width: 30%; }
    header .headerLogo P {
      font-size: 24px;
      line-height: 36px;
      margin-left: 15px !important; }
  header .headerMenu {
    width: 70%; }
    header .headerMenu ul {
      display: flex;
      justify-content: end; }
      header .headerMenu ul li {
        list-style: none;
        margin-left: 25px; }
        header .headerMenu ul li a {
          text-decoration: none;
          color: #161212; }

main .mainTop {
  background-color: #F7C7B9;
  display: flex;
  align-items: center;
  height: 91vh;
  margin: 0 auto; }
  main .mainTop .container {
    width: 80%; }
    main .mainTop .container div {
      margin: auto;
      height: 100%;
      width: 50%; }
    main .mainTop .container p {
      margin: 24px 0 52px 0; }

main .mainAcessorios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; }
  main .mainAcessorios .acessoriosTitulo {
    text-align: center;
    padding: 0 0 35px 0; }
    main .mainAcessorios .acessoriosTitulo p {
      margin-top: 25px; }
  main .mainAcessorios .acessoriosSection {
    display: flex;
    justify-content: space-between;
    margin: 0 auto !important;
    width: 80%; }
    main .mainAcessorios .acessoriosSection section {
      width: 33,3%; }
      main .mainAcessorios .acessoriosSection section h3 {
        text-align: center;
        color: #161212;
        font-size: 20px;
        line-height: 30px; }
      main .mainAcessorios .acessoriosSection section p {
        color: #8D8D8D;
        font-size: 16px;
        text-align: center;
        margin-top: 12px; }

main .mainDown {
  align-items: center;
  display: flex;
  margin: 0 auto !important;
  height: 100vh;
  background-color: #F7C7B9; }
  main .mainDown p {
    margin: 24px 0 52px 0; }

footer {
  height: 50px; }
  footer .footerLogo {
    align-items: center;
    display: flex;
    width: 30%; }
    footer .footerLogo P {
      font-size: 24px;
      line-height: 36px;
      margin-left: 15px !important; }
  footer .footerSocial ul {
    display: flex;
    justify-content: end; }
    footer .footerSocial ul li {
      background-color: #F7C7B9;
      border-radius: 100px;
      padding: 5px;
      list-style: none;
      margin-left: 25px; }
