//VARIAVEIS
$back-gradient: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);

@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}


body{
    background: $back-gradient;

    font-family: "Poppins" !important;
    color: #f9f9f9;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

header{
    nav{
        height: 80px;
        align-items: center;

        .navLogo{
            width: 50%;
        }

        .navMenu{
            width: 50%;

            ul{
                display: flex;
                flex-direction: row;
                justify-content: end;

                li{
                    margin-left: 25px;
                }
            }
        }
    }
}

main{
    .mainTitulo{

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        h3{
            font-size: 1.2em;
            line-height: 30px;
            letter-spacing: 0.03em;
            margin-bottom: 15px;
            text-shadow: 3px 4px 7px rgb(70, 67, 67);
        }

        h2{
            font-size: 68px;
            font-weight: 900;
            line-height: 109%;
            text-shadow: 3px 4px 7px rgb(70, 67, 67);
        }

        p{
            font-size: 16px;
            font-weight: 200;
            line-height: 180%;
            margin: 25px 0 40px 0;
            text-shadow: 3px 4px 7px rgb(70, 67, 67);
        }

        .mainBtn{
            display: flex;
            
            .btn{

                display: flex;

                font-weight: 600;
                font-size: 16px;
                
                margin-right: 20px;

                transform: skew(-30deg);

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }

                .btnAssista{
                    background-color: #658E76;
                    padding: .5rem 1rem;

                    cursor: pointer;
                    color: white;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border: 2px solid #658E76;

                    span{
                        display: flex;
                        align-items: center;
                        transform: skew(30deg);
                        font-family: "Poppins";

                    }
    
                    img{
                        margin-right: 5px;
                        width: 15px;
                    }
    
                }

                .btnAssista:hover {
                    background-color: #ffffff00;
                }
    
                .btnTrailer{
                    background-color: #ffffff00;
                    padding: .5rem 1rem;

                    cursor: pointer;
                    color: white;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border: 2px solid #658E76;

                    span{
                        display: flex;
                        align-items: center;
                        transform: skew(30deg);

                        font-family: "Poppins";

                    }
                }

                .btnTrailer:hover{
                    background-color: #658E76 !important;
                }

            }

   
        }
    }

    .mainImg{
        display: flex;
        align-items: flex-end;
        flex: 1;
    }
}

// LAPTOP/DESKTOPS, 992px
@media (max-width: 992px)
{
  
  main {
      .mainTitulo{
          width: 50%;


          h3{
            font-size: 1em;
        }

        h2{
            font-size: 54px;
        }

        p{
            font-size: 14px;
        }
      }

      .mainImg {
          width: 50%;

          img{
              width: 100%;
          }
      }
  }
}

// TABLET, 768px
@media (max-width: 768px)
{
  
    main {

        .container{
            padding: 50px 0;
        }

        .mainTitulo{
            width: 50%;


            h3{
                font-size: .8em;
            }

            h2{
                font-size: 48px;
            }

            p{
                font-size: 12px;
            }

            .mainBtn{

                .btn{
    
                    font-size: 12px;
    
                    .btnAssista{
                       
                        border: 1px solid #658E76;
                        padding: .5rem .5rem;
    
        
                        img{

                            margin-right: 5px;
                            width: 15px;

                        }
        
                    }
        
                    .btnTrailer{

                        border: 1px solid #658E76;
                        padding: .5rem .5rem;
                    }
                }
    
            }
        }

        .mainImg {

            width: 50%;

            img{

                width: 100%;

            }
        }
    }
}

// CELULAR, 600px
@media (max-width: 600px)
{
  
    main {

        .container{
            background-image: url("../img/noface.png");
            background-position: center;
            background-size: cover;
            padding: 50px 0;
        }

        .mainTitulo{

            text-align: center;
            width: 100%;


            h3{
                font-size: .8em;
            }

            h2{
                font-size: 48px;
            }

            p{
                font-size: 12px;
            }

            .mainBtn{

                align-items: center;
                justify-content: center;

                .btn{
    
                    font-size: 12px;
    
                    .btnAssista{
                        
                        font-size: 12px;
                        border: 1px solid #658E76;
                        padding: .5rem 1rem;
        
                        img{

                            margin-right: 5px;
                            width: 15px;

                        }
        
                    }
        
                    .btnTrailer{

                        font-size: 12px;
                        padding: .5rem 1rem;
                        border: 1px solid #658E76;

                    }
                }
    
            }
        }

        .mainImg {

            display: none;

        }
    }
}
