//VARIAVEIS
$back-gradient: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);

@font-face {
    font-family: "Poppins";
    src: url('../font/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

body{
    background: $back-gradient;

    font-family: "Poppins" !important;
    color: #f9f9f9;
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

header{
    nav{
        height: 80px;
        align-items: center;

        .navLogo{
            width: 50%;
        }

        .navMenu{
            width: 50%;

            ul{
                display: flex;
                flex-direction: row;
                justify-content: end;

                li{
                    margin-left: 25px;
                }
            }
        }
    }
}

main{
    .mainTitulo{

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        h3{
            font-size: 1.2em;
            line-height: 30px;
            letter-spacing: 0.03em;
            margin-bottom: 15px;
        }

        h2{
            font-size: 68px;
            font-weight: 900;
            line-height: 109%;
        }

        p{
            font-size: 16px;
            font-weight: 200;
            line-height: 180%;
            margin: 25px 0 40px 0;
        }

        .mainBtn{
            display: flex;
            
            .btn{

                display: flex;

                font-weight: 600;
                font-size: 16px;
                
                margin-right: 20px;

                transform: skew(-30deg);

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }

                .btnAssista{
                    background-color: #658E76;
                    padding: .5rem 1rem;

                    cursor: pointer;
                    color: white;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border: 2px solid #658E76;

                    span{
                        display: flex;
                        align-items: center;
                        transform: skew(30deg);
                        font-family: "Poppins";

                    }
    
                    img{
                        margin-right: 5px;
                        width: 15px;
                    }
    
                }

                .btnAssista:hover {
                    background-color: #ffffff00;
                }
    
                .btnTrailer{
                    background-color: #ffffff00;
                    padding: .5rem 1rem;

                    cursor: pointer;
                    color: white;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border: 2px solid #658E76;

                    span{
                        display: flex;
                        align-items: center;
                        transform: skew(30deg);

                        font-family: "Poppins";

                    }
                }

                .btnTrailer:hover{
                    background-color: #658E76 !important;
                }

            }

   
        }
    }

    .mainImg{
        display: flex;
        align-items: flex-end;
        flex: 1;
    }
}